@media (max-width: 62em) {
  .cta-grid {
    display: grid;
    grid-template-columns: 65% 35%;
    padding: 3.6rem 0.8rem;
    gap: 2.4rem;
  }
}

@media (max-width: 59em) {
  /*-----------------------------------------
  ------------- HEADER SECTION---------------
  --------------------------------------------*/
  .cta-grid {
    grid-template-columns: 100%;
    padding: 3.6rem 3.6rem;
  }

  .cta-car-img {
    width: 50%;
  }

  /*-----------------------------------------
  ------------- ABOUT SECTION---------------
  --------------------------------------------*/

  .about-el-grid {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    gap: 2.4rem;
    margin-top: 6.4rem;
  }

  .about-text {
    text-align: center;
    width: 85%;
    margin: 0 auto;
  }

  /*-----------------------------------------
  ------------- VEHICLE SECTION---------------
  --------------------------------------------*/

  .vehicle-section {
    padding: 9.6rem 0;
    max-width: 100%;
    margin: 0 auto;
  }

  .vehicle-gird {
    grid-template-columns: 1fr;
  }

  .choose-car-div {
    width: 50%;
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
    align-self: auto;
  }

  .car-div {
    width: 100%;
    font-size: 1.8rem;
    text-align: center;
  }

  .car-selected {
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
  }

  .vehicle-gird {
    grid-template-columns: 100%;
  }

  .select-vehicle-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .vehicle-img {
    width: 50%;
  }

  .vehcile-specs-div {
    width: 60%;
    margin: 0 auto;
  }

  .specs {
    width: 100%;
    justify-content: center;
  }

  .specs p {
    font-size: 1.6rem;
  }

  /*-----------------------------------------
  ------------- TESTIMONIALS SECTION---------------
  --------------------------------------------*/

  .testimonials-grid {
    grid-template-columns: 1fr;
  }

  .testimonial-border {
    border-bottom: 2px solid #4b4b4b59;
    border-right: none;
  }

  .testimonial-img {
    border-radius: 50%;
    margin-bottom: 1.2rem;
    width: 20%;
  }

  .testimonials-draw-div {
    width: 30%;
    position: absolute;
    transform: translateY(-5%);
    top: 0;
    right: -5%;
    z-index: -1;
  }

  /*-----------------------------------------
  ------------- FAQ SECTION---------------
  --------------------------------------------*/

  .faq-div {
    width: 90%;
  }
}

@media (max-width: 51em) {
  header .nav-btn-menu {
    display: flex;
  }

  header nav {
    position: fixed;
    top: -100%;
    right: 0;
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
    background-color: #dd3939;
    transition: 1s;
    z-index: 99;
  }

  header .responsive_nav {
    top: 0;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .nav-ul {
    flex-direction: column;
  }

  .nav-ul a {
    color: white;
    border-bottom: none;
    transition: 0.3s;
  }

  .nav-ul a:hover {
    border-bottom: none;
    color: rgba(198, 198, 198, 0.648);
  }

  /*-----------------------------------------
  ------------- VEHICLE SECTION---------------
  --------------------------------------------*/

  .vehicle-section {
    padding: 9.6rem 0;
    max-width: 100%;
    margin: 0 auto;
  }

  .vehicle-gird {
    grid-template-columns: 1fr;
  }

  .choose-car-div {
    width: 50%;
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
    align-self: auto;
  }

  .car-div {
    width: 100%;
    font-size: 1.8rem;
    text-align: center;
  }

  .car-selected {
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
  }
}
/*-----------------------------------------
  ------------- FOOTER SECTION---------------
  --------------------------------------------*/

@media (max-width: 29em) {
  .footer-main-div {
    width: 100%;
    margin: 0 auto 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3.6rem;
    flex-wrap: wrap;
  }

  .footer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }
}
