/*
-----------------------------------
------------ ABOUT SECTION ---------------
-----------------------------------
*/

.section-about {
  max-width: 120rem;
  margin: 0 auto;
  padding: 9.6rem 0;
}

.about-text {
  text-align: center;
  width: 85%;
  margin: 0 auto;
}

.about-text p {
  font-size: 1.4rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  line-height: 2rem;
}

.about-el-grid {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  gap: 2.4rem;
  margin-top: 6.4rem;
  margin-left: 10%;
}

.about-el-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}

.about-icon-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dd393924;
  padding: 1rem;
  border-radius: 50%;
}

.about-el-div svg {
  width: 5rem;
  height: 5rem;
}

.about-el-div h3 {
  font-size: 1.6rem;
  color: #343434;
  text-align: center;
}

.about-el-div p {
  text-align: center;
  color: #4b4b4b;
}
