.footer {
  margin-top: 15rem !important;
  display: flex;
  max-width: 110rem;
  margin: 0 auto 2.4rem;
  padding-top: 4.2rem;
  gap: 3.6rem;
  border-top: 2px solid #dd3939;
}

.footer-div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.footer-div h3 {
  color: #343434;
  font-size: 1.4rem;
}

.footer-div p {
  color: #4b4b4b;
  font-size: 1.1rem;
}

.social-media-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.8rem;
}

.social-media-img {
  height: 2.2rem;
  width: 2.2rem;
  transition: all 0.3s;
  cursor: pointer;
}

.social-media-img:hover {
  filter: opacity(50%);
}

.security-img-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.security-img {
  width: 2.2rem;
  height: 2.2rem;
}
