* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bitter", serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.heading-secondary {
  font-size: 3.6rem;
  text-align: center;
  color: #343434;
}

.p {
  font-size: 1.4rem;
  color: #4b4b4b;
  text-align: center;
  margin-bottom: 0.8rem;
}
/* For WebKit-based browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar:hover {
  width: 12px;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #dd3939; /* Color of the scrollbar thumb */
  border-radius: 6px;
  height: 40px; /* Adjust the height as needed */
}

::-webkit-scrollbar-thumb:hover {
  background: #9b2828; /* Color of the scrollbar thumb on hover */
}

/* Hide the scrollbar track completely */
::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-button {
  display: none; /* Hide the scrollbar buttons (up/down arrows) */
}
