/*
-----------------------------------
------------ VEHICLE SECTION ---------------
-----------------------------------
*/

.vehicle-section {
  padding: 9.6rem 6.4rem;
  max-width: 120rem;
  margin: 0 auto;
}

.vehicle-gird {
  display: grid;
  grid-template-columns: 35% 30% 35%;
  gap: 2.4rem;
  margin-top: 3.6rem;
}

.select-vehicle-div h3 {
  color: #4b4b4b;
  font-size: 1.8rem;
}

.choose-car-div {
  margin-top: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  align-self: center;
}

.car-div {
  width: 60%;
  padding: 1rem;
  font-size: 1.2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.078);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  color: #343434;
  transition: color 0.4s;
}

.car-selected {
  width: 60%;
  padding: 1rem;
  font-size: 1.2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.078);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: #dd3939; /* Set the background color */
  color: white; /* Set the text color to white */
  transition: background-color 0.4s, color 0.4s; /* Add a transition for smooth effect */
}

.add-to-cart-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  padding: 1rem;
  font-size: 1.6rem;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  background-color: #dd3939;
  border: 2px solid #dd3939;
  transition: all 0.3s;
}

.add-to-cart-div:hover {
  color: #dd3939;
  background-color: #f8d7d7;
  border: 2px solid #dd3939;
}

.vehicle-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vehicle-img {
  width: 100%;
}

.vehcile-specs-div {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  width: 80%;
  margin-right: 0;
  margin-left: auto;
  padding: 1rem;
  align-self: center;
}

.specs {
  display: flex;
  align-items: center;
  padding: 0.8rem;
  background-color: #dd393920;
  border-radius: 5px;
}

.specs p {
  font-size: 1.2rem;
}

.specs img {
  height: 1.2rem;
  width: 1.2rem;
}

.border {
  height: 1.5rem;
  width: 0.2rem;
  background-color: #dd3939;
  margin-right: 2.4rem;
  margin-left: 2.4rem;
}
